:5174 {
   file_server * browse {
     root dist
   }
   header * {
      Cross-Origin-Embedder-Policy require-corp
      Cross-Origin-Opener-Policy same-origin
      Cache-Control max-age=31536000
   }
}
